$slick-arrow-color: #000 !default;
$transparentbg: rgba(0, 0, 0, .5);

@import "../bower_components/animatewithsass/properties";
@import "../bower_components/animatewithsass/_fading-entrances/fadeInUp";
@import "../bower_components/animatewithsass/_fading-exits/fadeOutDown";
@import "../bower_components/animatewithsass/_fading-entrances/fadeIn";

@import "../bower_components/slick-carousel/slick/slick.scss";
@import "../bower_components/slick-carousel/slick/slick-theme.scss";

.slick-slider {
  figure { margin: 0; padding: 0;
    position: relative;
    figcaption {
      text-align: center;
      color: #fff;
      font-size: 22px;
      opacity: 0;
      bottom: 0;
      background: $transparentbg;
      padding: 1vh;
      position: absolute;
      width: 100%;
    }
  }
  .slick-current{
    figcaption{
      @include fadeIn($delay: .5s);
    }
  }
  .slick-img {
    max-width: none;
    width: 100%;
    min-width: 100%;
  }
  .slick-next, .slick-prev {
    position: absolute;
    display: block;
    height: 100%;
    width: 25%;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    top: 50%;
    margin-top: -10px\9;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 0;
    border: none;
    z-index: 10;
    opacity: 0;
    &:before{
      font-family: slick;
      z-index: 11;
      font-size: 50px;
      line-height: 1;
      color: #fff;
      opacity: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .slick-next{ right: 0;}
  .slick-prev { left: 0;}
  .slick-dots{
    li{
      height: 20px;
      width: 20px;
      margin: 0 3px;
      button{
        height: 20px;
        width: 20px;
        &:before{
          width: 14px;
          height: 14px;
          font-family: slick;
          font-size: 14px;
          line-height: 14px;
          text-align: center;
          color: #000;
          opacity: .25;
        }
      }
      &.slick-active{
        button:before{
          opacity: 1;
        }
      }
      &:hover, &:focus{
        button:before{opacity: 1;}
      }
    }
  }
  &:hover{
    .slick-next{ opacity: 1;
      &:before{margin-right: -60%}
    }
    .slick-prev { opacity: 1;
      &:before{margin-left: -60%;}
    }
  }
}

/*ANIMATION*/

.slick-prev, .slick-next, .slick-prev:before, .slick-next:before,.slick-slider .slick-dots li button:before{
  transition: all 0.25s;
  -o-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -webkit-transition: all 0.25s;
}
