<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />

	<f:section name="Main">
		<div class="slick-container">
			<v:variable.set name="slick-bgimg" value="true" />
			<f:if condition="{v:variable.typoscript(path: 'plugin.tx_slickcarousel.slick_progressbar_bgimg')}">
				<f:if condition="{data.pi_flexform.autoplay}">
					<div id="loader-slick-id{data.uid}"></div>
				</f:if>
			</f:if>
			<div class="slick-slider slick-bgimg" id="slick-id{data.uid}">
				<f:for each="{slides}" as="slide" iteration="i-slide">
					<div class="slick-item" id="slick-id{data.uid}-slide{i-slide.cycle}" style="background-image: url('{f:uri.image(image:slide.images.0, maxWidth: 1980)}');">
						<div class="slick-text">
							<span class="h1">{slide.data.headline}</span>
							<span class="h2">{slide.data.subline}</span>
						</div>
					</div>
				</f:for>
			</div>
		</div>
		<f:render partial="AssetAll" section="JS-Responsive" arguments="{_all}" />
		<f:if condition="{v:variable.typoscript(path: 'plugin.tx_slickcarousel.slick_progressbar_bgimg')}">
			<f:if condition="{data.pi_flexform.autoplay}">
				<f:render partial="ProgressBar" section="ProgressBar" arguments="{_all}" />
			</f:if>
		</f:if>
	</f:section>
</div>