<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />
	<f:section name="Main">
		<div class="your-class">
			<div>your content</div>
			<div>your content</div>
			<div>your content</div>
		</div>
		<v:asset.script>
			$(document).ready(function () {
				$('.your-class').slick({});
			});
		</v:asset.script>
	</f:section>
</div>