<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
	 xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
	 xmlns:f="http://xsd.helhum.io/ns/typo3/cms-fluid/master/ViewHelpers"
	 data-namespace-typo3-fluid="true">

	<f:layout name="Default" />
	<f:section name="Main">
		<div class="slick-slider" id="slick-id{data.uid}">
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/1"></div>
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/2"></div>
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/3"></div>
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/4"></div>
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/5"></div>
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/6"></div>
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/7"></div>
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/8"></div>
			<div><img class="img-responsive" src="http://lorempixel.com/1140/500/city/9"></div>
		</div>
		<f:render partial="AssetAll" section="JS-Responsive" arguments="{_all}" />
	</f:section>
</div>